html {
  height: 100%;
  background: #1d1e30;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
body {
  margin: 0;
  padding: 2em;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
.reloj {
  font-size: 20px;
  position: absolute;
  bottom: 18px;
  color: #8d93b9;
}
.tile-icon {
  background-color: red !important;
}
.shortcuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  max-width: 650px;
  margin: 0 auto;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  height: 80px;
  transition: all 0.2s ease;
  width: 80px;
}

.shortcut:hover {
  transform: scale(1.1);
  background-color: rgba(174, 185, 247, 0.25);
  transition: all 0.2s ease;
}
.shortcut i {
  font-size: 3em;
  margin-bottom: 0.3em;
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  mask-size: 40px;
}
.shortcut.--google i {
  background-image: url(../img/icons/icon-google-color.png);
  mask-image: url(../img/icons/icon-google-solid.png);
}
.shortcut.--gmail i {
  background-image: url(../img/icons/icon-gmail-color.png);
  mask-image: url(../img/icons/icon-gmail-solid.png);
}
.shortcut.--drive i {
  background-image: url(../img/icons/icon-drive-color.png);
  mask-image: url(../img/icons/icon-drive-solid.png);
}
.shortcut.--youtube i {
  background-image: url(../img/icons/icon-youtube-color.png);
  mask-image: url(../img/icons/icon-youtube-solid.png);
}
.shortcut i::before {
  content: "";
  background: white;
  border-radius: 25%;
  animation: wave 10s infinite linear;
  position: absolute;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -20px;
  transition: margin-top 0.5s;
}
.shortcut:hover i::before {
  margin-top: -90px;
  transition: margin-top 0.5s ease-in-out;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.shortcut span {
  margin-top: -1.5em;
  font-size: 1em;
  color: transparent;
  transition: all 0.2s ease;
}
.shortcut:hover span {
  margin-top: 0;
  color: #fff;
  transition: all 0.2s ease;
}
.shortcut image {
  max-width: 100px;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

form#searchForm {
  margin: 2em auto 1em;
  display: flex;
  justify-content: center;
}
#searchInput {
  width: 60%;
  max-width: 500px;
  padding: 0.8em 1.2em;
  font-size: 1.5em;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #2d2e40;
  color: #fff;
}
#searchInput::placeholder {
  color: #bbb;
}